In [1]:
print("makan")

makan

In [1]:
buah = ["apel", "mangga", "pisang"]
print(buah[0])

apel

In [3]:
angka = [10, 20, 30, 40, 50, 60]
print(angka[1:4])

[20, 30, 40]

Fungsi Built-in dalam List

Fungsi	Kegunaan
append(x)	Menambahkan elemen x ke akhir list
insert(i, x)	Menyisipkan elemen x pada indeks i
remove(x)	Menghapus elemen x pertama yang ditemukan
pop(i)	Menghapus elemen pada indeks i dan mengembalikannya
sort()	Mengurutkan elemen list
reverse()	Membalik urutan elemen list

In [4]:
mahasiswa = {"nama": "Budi", "umur": 20}
print(mahasiswa["nama"])

Budi

In [5]:
mahasiswa["jurusan"] = "Informatika"

In [6]:
print(mahasiswa["jurusan"])

Informatika

Fungsi	Kegunaan
keys()	Mengembalikan semua key dalam dictionary
values()	Mengembalikan semua nilai dalam dictionary
items()	Mengembalikan semua pasangan key-value
pop(x)	Menghapus item dengan key x

In [7]:
angka = {1, 2, 3}
angka.add(4)

In [8]:
print(angka)

{1, 2, 3, 4}

In [9]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [18]:
x = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
x[2]

'c'

In [19]:
x.append("j")
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [20]:
x.insert(2, "d")
x

['a', 'b', 'd', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [24]:
x

['a', 'b', 'e', 'f', 'g', 'h', 'i', 'j']

In [29]:
x.insert(2, "c")
x

['a', 'b', 'c', 'c', 'e', 'f', 'g', 'h', 'i', 'j']

In [30]:
x.pop(2)
x

['a', 'b', 'c', 'e', 'f', 'g', 'h', 'i', 'j']

In [31]:
x.insert(3, "d")
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [34]:
x.reverse()
x

['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

Data Mahasiswa: Budi adalah seorang mahasiswa yang ingin menyimpan data teman-temannya dalam bentuk dictionary. Dia ingin menambahkan nama, umur, dan jurusan teman-temannya, serta mengupdate data jika ada perubahan.

In [35]:
data_mahasiswa = {
    "Budi": {"umur": 20, "jurusan": "Informatika"}, 
    "Andi": {"umur": 21, "jurusan": "Elektro"}, 
    "Susi": {"umur": 19, "jurusan": "Biologi"}
}

In [37]:
data_mahasiswa["Budi"]

{'umur': 20, 'jurusan': 'Informatika'}

In [38]:
data_mahasiswa["Andi"]["jurusan"]

'Elektro'

In [39]:
data_mahasiswa.keys()

dict_keys(['Budi', 'Andi', 'Susi'])

In [40]:
data_mahasiswa["Andi"].keys()

dict_keys(['umur', 'jurusan'])

In [41]:
data_mahasiswa["Denis"] = {"umur": 20, "jurusan": "Matematika"}

In [42]:
data_mahasiswa["Denis"]

{'umur': 20, 'jurusan': 'Matematika'}

In [46]:
data_mahasiswa["Ahmad"] = {"umur" : 20,"jurusan": "Kimia"} 
data_mahasiswa

{'Budi': {'umur': 20, 'jurusan': 'Informatika'},
 'Andi': {'umur': 21, 'jurusan': 'Elektro'},
 'Susi': {'umur': 19, 'jurusan': 'Biologi'},
 'Denis': {'umur': 20, 'jurusan': 'Matematika'},
 'Ahmad': {'umur': 20, 'jurusan': 'Kimia'}}

In [47]:
data_mahasiswa["Ahmad"].pop("umur")
data_mahasiswa

{'Budi': {'umur': 20, 'jurusan': 'Informatika'},
 'Andi': {'umur': 21, 'jurusan': 'Elektro'},
 'Susi': {'umur': 19, 'jurusan': 'Biologi'},
 'Denis': {'umur': 20, 'jurusan': 'Matematika'},
 'Ahmad': {'jurusan': 'Kimia'}}

In [48]:
data_mahasiswa["Ahmad"]["umur"] = 21
data_mahasiswa

{'Budi': {'umur': 20, 'jurusan': 'Informatika'},
 'Andi': {'umur': 21, 'jurusan': 'Elektro'},
 'Susi': {'umur': 19, 'jurusan': 'Biologi'},
 'Denis': {'umur': 20, 'jurusan': 'Matematika'},
 'Ahmad': {'jurusan': 'Kimia', 'umur': 21}}

In [1]:
import numpy as np

suhu = np.array([30, 28, 31, 29, 33])

Pengolahan Nilai Siswa: Seorang guru memiliki daftar nilai siswa dalam list. Guru tersebut ingin mencari nilai rata-rata, nilai tertinggi, dan urutan nilai dari terkecil ke terbesar.

In [6]:
import numpy as np
nilai_siswa = ([85, 90, 78, 92, 88])
rata_rata = sum(nilai_siswa) / len(nilai_siswa)
print("Rata-rata nilai siswa:", rata_rata)

print("Nilai tertinggi:", nilai_siswa.max())

Rata-rata nilai siswa: 86.6

AttributeError: 'list' object has no attribute 'max'